{% extends "fluke_data/base.html" %}

{% block title %}Update User{% endblock %}

{% block content %}
<div class="container">
    <h2>Update User</h2>

    <!-- Feedback message block -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <strong>{{ form.name.label_tag }}</strong> {{ form.name }}
        <strong>{{ form.username.label_tag }}</strong> {{ form.username }}
        <strong>{{ form.email.label_tag }}</strong> {{ form.email }}
        <strong>{{ form.first_name.label_tag }}</strong> {{ form.first_name }}
        <strong>{{ form.last_name.label_tag }}</strong> {{ form.last_name }}
        <p>
            {{ form.password.label_tag }} <p>Leave blank if you don't want to change the password.</p>
    
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        </p>
        
        <p>
            {{ form.is_manager.label_tag }} {{ form.is_manager }}
        </p>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
