{% extends "fluke_data/base.html" %}

{% block title %}Update User{% endblock %}

{% block content %}
<div class="container">
    <h2>Update User</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.name.label_tag }} {{ form.name }}
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.first_name.label_tag }} {{ form.first_name }}
        {{ form.last_name.label_tag }} {{ form.last_name }}
        <p>
            {{ form.password.label_tag }} <p>Leave blank if you don't want to change the password.</p>
    
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            

        </p>
        
        {{ form.is_manager.label_tag }} {{ form.is_manager }}
        <p></p>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
