<!-- templates\fluke_data\data_visualization.html -->

{% extends "fluke_data/base.html" %}

{% block title %}Data Visualization{% endblock %}

{% block content %}
  <h1>Data Visualization</h1>

  <div class="container">
    <!-- Form Section -->
    <div class="form-section">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="instrument">Select Instrument:</label>
          <select id="instrument" name="instrument">
            {% for thermohygrometer in thermohygrometers %}
              <option value="{{ thermohygrometer.id }}">{{ thermohygrometer.instrument_name }} (PN: {{ thermohygrometer.pn }}, SN: {{ thermohygrometer.sn }})</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="start_date">Start Date:</label>
          <input type="date" id="start_date" name="start_date">
          <label for="start_time">Start Time:</label>
          <input type="time" id="start_time" name="start_time" value="08:00">
        </div>
        <div class="form-group">
          <label for="end_date">End Date:</label>
          <input type="date" id="end_date" name="end_date">
          <label for="end_time">End Time:</label>
          <input type="time" id="end_time" name="end_time" value="16:00">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  {% if data %}
    <div class="data-section">
      <!-- Container for Export Button, Measured Data, and Statistics -->
      <h2>Measured Data</h2>
      <div class="measured-data-container">
        <div class="column">
          <h3><strong>Instrument</strong></h3> 
          <p>{{ selected_instrument.instrument_name }} (PN: {{ selected_instrument.pn }}, SN: {{ selected_instrument.sn }})</p>
          <p><strong>Searched Date Range</strong>
          <p><strong>From:</strong> {{ start_date }} {{ start_time }}
          <p><strong>To:</strong> {{ end_date }} {{ end_time }}</p>

          <!-- Export to CSV Button Section -->
          <div class="export-section">
            <form method="post" action="{% url 'export_to_csv' %}">
              {% csrf_token %}
              <input type="hidden" name="instrument_id" value="{{ selected_instrument.id }}">
              <input type="hidden" name="start_date" value="{{ start_date }}">
              <input type="hidden" name="start_time" value="{{ start_time }}">
              <input type="hidden" name="end_date" value="{{ end_date }}">
              <input type="hidden" name="end_time" value="{{ end_time }}">
              <button type="submit">Export to .CSV</button>
            </form>
          </div>
        </div>

        <!-- Statistics Section -->
        <div class="column">
          <h3>Statistics for Data Range</h3>
          <table>
            <tr>
              <th></th>
              <th>Temperature (°C)</th>
              <th>Humidity (%)</th>
            </tr>
            <tr>
              <td><strong>Min</strong></td>
              <td>{{ stats.min_temperature|floatformat:2 }}</td>
              <td>{{ stats.min_humidity|floatformat:2 }}</td>
            </tr>
            <tr>
              <td><strong>Max</strong></td>
              <td>{{ stats.max_temperature|floatformat:2 }}</td>
              <td>{{ stats.max_humidity|floatformat:2 }}</td>
            </tr>
            <tr>
              <td><strong>Avg</strong></td>
              <td>{{ stats.avg_temperature|floatformat:2 }}</td>
              <td>{{ stats.avg_humidity|floatformat:2 }}</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Data Table Section -->
      <div class="data-table-section">
        <div style="max-height: 400px; overflow-y: scroll; position: relative;">
          <table>
            <thead style="position: sticky; top: 0; background-color: white;">
              <tr>
                <th>Date</th>
                <th colspan="2">Temperature (°C)</th>
                <th colspan="2">Humidity (%)</th>
              </tr>
              <tr>
                <th></th>
                <th>NON CORRECTED</th>
                <th>CORRECTED</th>
                <th>NON CORRECTED</th>
                <th>CORRECTED</th>
              </tr>
            </thead>
            <tbody>
              {% for measure in data %}
                <tr>
                  <td>{{ measure.date|date:"d/m/Y H:i" }}</td>
                  <td>{{ measure.temperature }}</td>
                  <td>{{ measure.corrected_temperature }}</td>
                  <td>{{ measure.humidity }}</td>
                  <td>{{ measure.corrected_humidity }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    {% if request.method == 'POST' %}
      <p>No data found for the selected instrument and time range.</p>
    {% endif %}
  {% endif %}
{% endblock %}
