<!-- templates/fluke_data/display_measures.html -->

{% extends "fluke_data/base.html" %}

{% load static %}

{% block title %}Sensor Measurements{% endblock %}

{% block content %}
    <div class="container">
        <h1>Connected Sensors</h1>
        <p class="text-center">Displaying real-time data from all connected sensors</p>
        
        <div id="measures-container" class="result-container"></div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/display_measures.js' %}"></script>
{% endblock %}
