{% extends "fluke_data/base.html" %}

{% block title %}Thermohygrometer Data{% endblock %}

{% block content %}
    <form id="data-form" class="data-form">
        <label for="thermohygrometer">Select Thermohygrometer:</label>
        <select id="thermohygrometer" name="thermohygrometer"></select><br><br>
        <button type="button" onclick="fetchRealTimeData()">Get Real-Time Data</button>
        <button type="button" id="close-button" onclick="closeConnection()" style="display: none;">Close Connection</button>
    </form>
    <div id="result" class="result"></div>
{% endblock %}

