{% extends "fluke_data/base.html" %}

{% block title %}Thermohygrometer Data{% endblock %}

{% block content %}
    <form id="data-form" class="data-form">
        <label for="thermohygrometer">Select Thermohygrometer to connect:</label>
        <select id="thermohygrometer" name="thermohygrometer"></select><br><br>
        <button type="button" onclick="addThermohygrometer()">Add Thermohygrometer</button>
    </form>
    <div id="result-container" class="result-container"></div>
{% endblock %}
