{% extends "fluke_data/base.html" %}
{% load static %}
{% block title %}Intelligence{% endblock %}

{% block content %}

<form method="get" class="form-inline">
    {% csrf_token %}
    <div class="row g-3">
        <!-- Data fields -->
        <div class="col-md-6">
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
        </div>
        <div class="col-md-6">
            {{ form.end_date.label_tag }}
            {{ form.end_date }}
        </div>

        <!-- Time fields -->
        <div class="col-md-6">
            {{ form.start_time.label_tag }}
            {{ form.start_time }}
        </div>
        <div class="col-md-6">
            {{ form.end_time.label_tag }}
            {{ form.end_time }}
        </div>

        <!-- Instruments field -->
        <div class="col-12">
            {{ form.instruments.label_tag }}
            {{ form.instruments }}
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>


<div id="results" style="display: none;">
    <div>
        <h5>Legenda:</h5>
        <ul>
            <h5><strong>Período solicitado:</strong> <span data-analysis-period=""></span>{{ analysis_period }}</h5>
            <h5><strong>Tempo total disponível:</strong> <span data-time-available=""></span>{{ total_time_available }}
                horas</h5>
        </ul>
    </div>

    <div>
        <h3>Gráfico de Percentual Fora dos Limites</h3>
        <canvas id="outOfLimitsChart" width="400" height="200"></canvas>
    </div>

    <div>
        <h3>Gráfico de Temperatura</h3>
        <canvas id="temperatureChart" width="400" height="200"></canvas>
    </div>

    <div>
        <h3>Gráfico de Umidade</h3>
        <canvas id="humidityChart" width="400" height="200"></canvas>
    </div>


    <div class="container d-flex justify-content-center align-items-center">
        <div id="skeletonCard" class="card p-3" style="display: block; width: 32rem;">
            <div class="skeleton center" style="width: 18rem; height: 40px; margin: auto; margin-bottom: 20px;"></div>
            <div class="skeleton ml-3" style="width: 14rem; height: 30px; margin-bottom: 10px;"></div>
            <div class="skeleton ml-2" style="height: 20px; margin-bottom: 10px;"></div>
            <div class="skeleton" style="width: 28rem; height: 20px; margin-bottom: 16px;"></div>

            <h2 class="skeleton ml-3 mb-1 mt-2" style="width: 14rem; height: 30px;"></h2>
            <div class="skeleton ml-2" style="height: 20px; margin-bottom: 10px;"></div>
            <div class="skeleton" style="height: 20px; margin-bottom: 10px;"></div>
            <div class="skeleton" style="width: 8rem; height: 20px; margin-bottom: 10px;"></div>

            <h2 class="skeleton ml-3 mb-1 mt-2" style="width: 16rem; height: 30px;"></h2>
            <div class="skeleton ml-2" style="height: 20px; margin-bottom: 10px;"></div>
            <div class="skeleton" style="height: 20px; margin-bottom: 10px;"></div>
            <div class="skeleton" style="width: 29rem; height: 20px; "></div>

            <h2 class="skeleton ml-3 mb-1 mt-2" style="width: 15rem; height: 30px;"></h2>
            <div class="skeleton ml-2" style="height: 20px; margin-bottom: 10px;"></div>
            <div class="skeleton" style="height: 20px; margin-bottom: 10px;"></div>
            <div class="skeleton" style="width: 18rem; height: 20px; margin-bottom: 10px;"></div>
        </div>

        <div id="dataCard" class="card p-3" style="display: none; width: 32rem;">
            <h1 id="title"></h1>
            <h2 class="recuo text-start">Resumo</h2>
            <p id="summary"></p>

            <h2 class="recuo text-start">Análise</h2>
            <p id="analytics" class="recuo text-justify"></p>

            <h2 class="recuo text-start">Sugestão</h2>
            <p id="suggestion" class="recuo text-justify"></p>

            <h2 class="recuo text-start">Conclusão</h2>
            <p id="conclusion" class="recuo text-justify"></p>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="{% static 'js/intelligence.js' %}"></script>
{% endblock %}