<!-- templates\fluke_data\real_time_data.html -->
{% extends "fluke_data/base.html" %}

{% load static %}

{% block title %}Real Time Data{% endblock %}

{% block content %}
    <form id="data-form" class="data-form">
        <label for="thermohygrometer">Select Thermohygrometer to connect:</label>
        <select id="thermohygrometer" name="thermohygrometer"></select><br><br>
        <button type="button" onclick="addThermohygrometer()">Add Thermohygrometer</button>
    </form>
    <div id="result-container" class="result-container"></div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

